.container {
    background-color: rgb(191, 165, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(59, 31, 78);
}

.divider {
color: rgb(150, 109, 167);
display: flex;
justify-content:center ;
align-items: center;
}

.menu {
    display: inline;
    color: rgb(81, 64, 97);
    font-family: monospace;
    font-weight: 200;
}

.ingredients {
    font-family: cursive;
    font-size: larger;
}